# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jorge\OneDrive - Universidad de Burgos\- Sistemas Inteligentes\Práctica 07 - 10.11.2020\Clase7-VersionAutomaticaDelJuegoSinSolucion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
